<%- include("templates/header") %>
  <div id="chat-window">
    <div class="main-title">ASK ME ASKING ABOUT RECYCLING!</div>
    <div id="chat-messages"></div>
    <form id="chat-form">
      <input
        type="text"
        id="chat-input"
        autocomplete="off"
        placeholder="Type your message here"
        required
      />
      <button type="submit">Send</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
  <script src="/js/chatbot.js"></script>
</body>
<%- include("templates/footer") %>