<%- include("templates/header") %>
<main class="form-signin w-25 m-auto">
  <div class="p-4 p-md-5 mb-4 text-white rounded welcome">
    <div class="col-md px-0">
        <h1 class="display-4 fst-italic">Recycling App</p>
            <p class="lead mb-0">Find the Recycling Location and Recyclable.
                <br> Find <span id="easterEgg">out</span>
            </p>
    </div>
</div>
  <form action="/loggingin" method="post">
    <h1 class="h3 mb-3 fw-normal">Log in</h1>
    <div class="form-floating">
      <input
        type="text"
        name="name"
        class="form-control"
        id="floatingInput"
        placeholder="username"
      />
      <label for="floatingInput">name</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        name="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <a class="link-forgotpassword" href="/forgotpassword">forgot password?</a>
    <button
      class="w-100 btn btn-lg btn-primary"
      style="margin-top: 32px"
      type="submit"
    >
      Sign in
    </button>
  </form>
</main>
<script>
  // Your JavaScript code goes here
  document.getElementById("easterEgg").addEventListener("mouseenter", increaseFontSize);
  document.getElementById("easterEgg").addEventListener("mouseleave", decreaseFontSize);

  function increaseFontSize() {
    var txt = document.getElementById('easterEgg');
    var style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
    var currentSize = parseFloat(style);
    txt.style.fontSize = (currentSize + 5) + 'px';
  }

  function decreaseFontSize() {
    var txt = document.getElementById('easterEgg');
    var style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
    var currentSize = parseFloat(style);
    txt.style.fontSize = (currentSize - 5) + 'px';
  }
</script>
<%- include("templates/footer") %>
