<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Recycling Depots</title>
    <link rel="stylesheet" type="text/css" href="/public/css/map.css">
</head>
<body>
    <div id="map"></div>
    <button id="backButton">Back</button>
    <script src="http://makipqxzet.us19.qoddiapp.com/public/js/map.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlb_Qp30JQGKC4tubSjrpV5d6ep2nG36Y&libraries=places&callback=initMap"></script>
</body>
</html>
