<!DOCTYPE html>
<html>
<head>
    <title>Find Recycling Depots</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="map"></div>
    <button id="backButton">Back</button>
    <script src="map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap" async defer></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initMap"></script>
</body>
</html>
